{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Crow</title>

	    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'crow/css/materialize.min.css' %}">

    
</head>
<body>
	<!-- big image the moves slow -->
	<div class="parallax-container">
      <div class="parallax"><img src="{% static 'crow/img/wallpaper.jpg' %}"></div>
    </div>

 <!-- big section in middle -->
<div class="section teal darken-4 white-text">

<div class="container  white black-text" >
{% if posts %}
 	{% for post in posts %}
<div class="col container" style="padding-top:20px;padding-bottom:20px;">
 <div class="col s12 m7" >
    <h3 class="header" >{{ post.title }}</h3>
    	<p> {{ post.published_date }} </p>
    <div class="card horizontal black-text">

      <!--div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div-->
      <div class="card-stacked">
        <div class="card-content">
          <p>{{ post.data }}</p>
        </div>
        <!--div class="card-action">
          <a href="#">This is a link</a>
        </div-->
      </div>
    </div>
  </div>
</div>
<hr>
    <!-- div class="divider"></div -->
    {% endfor %}
{% endif %}
</div>
</div>

<!-- Compiled and minified JavaScript -->
    <script src="{% static 'crow/js/materialize.min.js' %}"></script>
    <script src="{% static 'crow/js/code.js' %}"></script>
</body>
</html>